# Crop Block
public net.minecraft.world.level.block.CropBlock getGrowthSpeed(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)F # getGrowthSpeed# Render Type.
# 指令字段
public net.minecraft.commands.arguments.ResourceKeyArgument resolveKey(Lcom/mojang/brigadier/context/CommandContext;Ljava/lang/String;Lnet/minecraft/resources/ResourceKey;Lcom/mojang/brigadier/exceptions/DynamicCommandExceptionType;)Lnet/minecraft/core/Holder$Reference;
# HTBlockStateGen
public net.minecraft.client.renderer.RenderStateShard name
# Mixin Entity.
#public net.minecraft.world.entity.Entity m_198900_(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/phys/AABB;Ljava/util/List;)Lnet/minecraft/world/phys/Vec3;
# Item Tag Gen.
#public net.minecraft.data.tags.TagsProvider getOrCreateRawBuilder(Lnet/minecraft/tags/TagKey;)Lnet/minecraft/tags/TagBuilder;
# Sign Texture.
#public net.minecraft.client.renderer.Sheets m_245275_(Lnet/minecraft/world/level/block/state/properties/WoodType;)Lnet/minecraft/client/resources/model/Material;
# Burn Block.
#public net.minecraft.world.level.block.FireBlock m_53444_(Lnet/minecraft/world/level/block/Block;II)V
# 获取攻击力加成。
#public net.minecraft.world.item.Item f_41374_
# 获取伤害类型Registry。
#public net.minecraft.world.damagesource.DamageSources f_268645_
